@charset "UTF-8";
* {
  scrollbar-width: none;
}

body {
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-image: url("../img/завантаження.jpg");
}
body.__lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.conteiner {
  max-width: 1300px;
  margin: 0 auto;
}

.return__btn {
  background-color: var(--returnBtnBgClr);
  border-radius: 50%;
  border: solid 1px var(--returnBtnBrdClr);
  width: 46px;
  height: 46px;
  position: fixed;
  z-index: 20;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.return__btn img {
  width: 100%;
  height: 30%;
  transform: rotate(-90deg);
  align-self: center;
}

.hidden {
  display: none;
}

.header {
  background-color: var(--headerBgColor);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 19;
}
.header .header__body {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}
.header .header__contacts {
  text-align: center;
}

.header__menu__icon.burger {
  display: none;
}

.search-form__group {
  display: flex;
  align-items: center;
  border-radius: 6px;
  border: 1px solid var(--headerIconBgClr);
}
.search-form__input {
  width: 100%;
  padding: 0 18px;
  outline: 0;
  color: var(--headerIconBgClr);
  background-color: transparent;
}
.search-form__btn {
  width: 60px;
  height: 50px;
  padding: 15px 17px;
  background-color: var(--headerIconBgClr);
}

.header__logo {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__logo img {
  width: 45px;
  height: 45px;
}
.header__logo.logo__left .img {
  width: 45px;
  height: 45px;
  overflow: hidden;
  position: relative;
  flex: 0 0 auto;
}
.header__logo.logo__left .header__logo-text {
  color: #8bc2fd;
}

.header__menu__body {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__menu__list > li {
  position: relative;
  margin: 0 0 0 20px;
  border: 1px solid var(--headerMenuItemBrdClr);
  border-radius: 6px;
  background-color: var(--headerMenuItemBgClr);
}
.header__menu__list > li:hover {
  background-color: var(--headerMenuItemBrdClrHover);
}
.header__menu__list .header__menu__item {
  display: block;
  padding: 10px 10px;
  color: var(--headerMenuItemTxtClr);
  font-size: calc(20px + -2 * (100vw - 320px) / 1120);
  text-align: center;
}

@media (min-width: 992px) {
  .header__menu__list {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 992px) {
  .return__btn {
    right: 10px;
    bottom: 10px;
    background-color: var(--returnBtnBgClrMOB);
  }
  .header__body {
    gap: 5px;
  }
  .header__menu {
    position: absolute;
  }
  .header__menu__icon.burger {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    margin-left: 10px;
  }
  .header__menu__icon.burger span, .header__menu__icon.burger::before, .header__menu__icon.burger::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: var(--burgerIconClr);
  }
  .header__menu__icon.burger::before, .header__menu__icon.burger::after {
    content: "";
  }
  .header__menu__icon.burger::before {
    top: 0;
  }
  .header__menu__icon.burger::after {
    bottom: 0;
  }
  .header__menu__icon.burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .header__menu__icon.burger.__active span {
    transform: scale(0) translate(0px, -50%);
  }
  .header__menu__icon.burger.__active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__menu__icon.burger.__active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .header__menu__body {
    display: block;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--headerBgColor);
    padding: 100px 30px 30px 30px;
    transition: top 0.3s ease 0s;
    overflow: auto;
  }
  .header__menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 2;
    background-color: var(--headerBgColor);
  }
  .header__menu__body.__active {
    top: 0;
  }
  .header__menu__list {
    text-align: center;
  }
  .header__menu__list > li {
    margin: 0 0 30px 0;
  }
  .header__menu__list .header__menu__item {
    font-size: 22px;
  }
  .header__logo.logo__left {
    flex: 1 1 auto;
  }
  .header__logo.logo__left .header__logo-text {
    flex: 1 1 auto;
    text-align: center;
  }
}
.main {
  background-color: rgba(255, 255, 255, 0.7);
  flex: 1 1 auto;
  padding: 100px 0 0 0;
}

.action__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.action__btn a {
  margin: 15px auto;
}
.action__btn .custom-btn {
  width: 190px;
  height: 50px;
  padding: 15px 25px;
  position: relative;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.action__btn .btn-11 {
  border: none;
  background: linear-gradient(0deg, rgb(251, 33, 117) 0%, rgb(234, 76, 137) 100%);
  color: #fff;
  overflow: hidden;
}
.action__btn .btn-11:hover {
  text-decoration: none;
  color: #fff;
}
.action__btn .btn-11:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 3s ease-in-out infinite;
}
.action__btn .btn-11:hover {
  opacity: 0.7;
}
@keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
@media (max-width: 992px) {
  .action__btn {
    flex-direction: column;
  }
  .action__btn .btn-11:hover {
    opacity: 1;
  }
}

.page__section {
  padding: 10px;
  margin: 0 auto;
}

.page__hero {
  display: flex;
  align-items: center;
  background-image: url("../img/investment.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 50%;
}
.page__hero .page__hero-textbody {
  max-width: 50%;
  text-align: left;
  padding-block: 50px;
}
.page__hero .page__hero-textbody .page__hero-title {
  font-size: calc(28px + 12 * (100vw - 320px) / 1120);
  margin-bottom: 10px;
}
.page__hero .page__hero-textbody .page__hero-text {
  font-size: calc(22px + 0 * (100vw - 320px) / 1120);
  padding-bottom: 10px;
}
.page__hero .page__hero-textbody .page__hero-simplytext {
  font-size: calc(18px + 4 * (100vw - 320px) / 1120);
  margin: 20px 0;
}
@media (max-width: 992px) {
  .page__hero .page__hero-textbody {
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
  }
}
@media (max-width: 992px) {
  .page__hero {
    background-position: center center;
    background-size: cover;
  }
}

.page__about {
  display: flex;
  background-color: rgba(240, 240, 240, 0.7215686275);
}
.page__about .page__about-textbody {
  flex: 1 1 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.page__about .page__about-textbody .page__hero-title {
  color: #ff0000;
  font-size: calc(20px + 11 * (100vw - 320px) / 1120);
  margin: 5px 0;
}
.page__about .page__about-textbody .section-2__text-body {
  font-size: calc(20px + -2 * (100vw - 320px) / 1120);
  margin: 5px 0;
}
.page__about .page__about-textbody .section-2__text-body .text-body-title {
  font-weight: 600;
  margin: 5px 0;
}
.page__about .page__about-textbody .section-2__text-body .text-body-list {
  text-align: left;
}
@media (max-width: 992px) {
  .page__about {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .page__about {
    flex-direction: column-reverse;
  }
}

.input__container {
  display: flex;
  align-items: center;
}
.input__container .flag {
  width: 40px;
  height: 30px;
  border: 1px solid #ccc;
  display: none;
}

.page__section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page__section-3 iframe {
  display: block;
  max-width: 100%;
}
.page__section-3 .popup__form {
  padding: 10px;
  margin: 0 auto;
  background-color: #f0f0f0;
}
.page__section-3 .popup__form .page__section-3-title {
  font-size: calc(20px + 5 * (100vw - 320px) / 1120);
  text-align: center;
  margin: 10px 0;
}
.page__section-3 .popup__form .page__section-3-title:nth-child(even) {
  color: #008000;
}
.page__section-3 .popup__form .form__content-page-3 .input__box .input {
  border-style: solid;
  border-color: var(--black-2, #323232);
  border-width: 0px 0px 1px 0px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: center;
  color: #BBBBBB;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.32px;
  width: 100%;
  margin: 10px 0;
}
.page__section-3 .popup__form .form__content-page-3 .input__box .input:focus {
  border: 1px solid #000000;
}
.page__section-3 .popup__form .form__content-page-3 .input__box .confirmation {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  font-size: 14px;
  padding: 15px;
}
.page__section-3 .popup__form .form__content-page-3 .input__box .privacy {
  display: none;
}
.page__section-3 .popup__form .form__content-page-3 .input__box .privacy:checked + .rect::after {
  transform: scale(1);
}
.page__section-3 .popup__form .form__content-page-3 .input__box .checkbox-light {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
}
.page__section-3 .popup__form .form__content-page-3 .input__box .rect {
  background: var(--white, #ffffff);
  border-radius: 2px;
  border-style: solid;
  border-color: var(--grey, #bbbbbb);
  border-width: 1px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.page__section-3 .popup__form .form__content-page-3 .input__box .rect.error {
  border: 2px solid red;
}
.page__section-3 .popup__form .form__content-page-3 .input__box .rect::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: #7a956b;
  border-radius: 2px;
  transition: transform 0.5s ease 0s;
  transform: scale(0);
}
.page__section-3 .popup__form .form__content-page-3 .input__box .privacy-policy {
  color: #000000;
  text-align: left;
  cursor: pointer;
  margin-left: -30px;
  padding-left: 30px;
  z-index: 5;
}
.page__section-3 .popup__form .form__content-page-3 .input__box .privacy-policy.error {
  border: 1px solid #ff0000;
}
@media (max-width: 960px) {
  .page__section-3 {
    flex-direction: column;
  }
}

.page__round-numbers .about-content3 {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
  flex-direction: column;
}
.page__round-numbers .about-content3 .about-content2__text {
  font-size: 3rem;
  margin-bottom: 10px;
}
.page__round-numbers .about-content3 .running-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.page__round-numbers .about-content3 .running-numbers .running-numbers__box {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: 10px;
  padding: 0 10px;
  margin: 5px 0;
}
.page__round-numbers .about-content3 .running-numbers .running-numbers__box .infinity {
  width: 80px;
  height: 80px;
}
.page__round-numbers .about-content3 .running-numbers .running-numbers__box .infinity img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transform: scale(1.5);
}
@media (max-width: 767px) {
  .page__round-numbers .about-content3 .running-numbers {
    flex-direction: column;
  }
}
.page__round-numbers .about-content3 span {
  font-size: calc(60px + 10 * (100vw - 320px) / 1120);
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.page__round-numbers .about-content3 h2 {
  font-size: calc(22px + 6 * (100vw - 320px) / 1120);
  text-align: center;
  color: rgb(157, 134, 0);
}

.footer {
  background-color: var(--footerBgColor);
}
.footer .footer__body {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
  padding: 10px;
}
.footer .footer__body .footer-Section__logo .footer__logo-box {
  display: flex;
  justify-content: center;
}
.footer .footer__body .footer-Section__logo .footer__logo-box .footer__logo {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer .footer__body .footer-Section__logo .footer__logo-box .footer__logo img {
  width: 45px;
  height: 45px;
}
.footer .footer__body .footer-Section__logo .footer__logo-box .footer__logo.logo__left .text {
  color: #ffffff;
}
.footer .footer__body .footer-Section__logo .footer__logo-box .footer__logo.logo__left .img {
  width: 45px;
  height: 45px;
  overflow: hidden;
  position: relative;
  flex: 0 0 auto;
}
.footer .footer__body .footer-Section__logo .footer__logo-box .footer__logo.logo__left .img img {
  position: absolute;
}
.footer .footer__body .footer-Section__logo .footer__logo-text {
  text-align: center;
}
.footer .footer__body .footer-Section__logo .footer__logo-text p {
  margin: 5px 0;
}
.footer .footer__body .footer__contacts {
  text-align: center;
}
.footer .footer__body .footer__contacts .accent-color {
  color: rgb(178, 164, 89);
}
.footer .footer__body .footer__contacts .contacts__title {
  font-size: calc(20px + 2 * (100vw - 320px) / 1120);
}
.footer .footer__body .footer__contacts .socials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.footer .footer__body .footer__contacts .footer-socials__ico {
  width: 30px;
  margin: 10px;
}
.footer .footer__body .footer__contacts .footer-socials__ico img {
  max-height: 100%;
}
.footer .footer__body .footer__contacts div {
  margin: 10px 0;
}
.footer .footer__body .footer__contacts div.contacts__phone, .footer .footer__body .footer__contacts div.contacts__mail {
  font-size: calc(18px + 2 * (100vw - 320px) / 1120);
}
.footer .footer__body .footer__info {
  display: flex;
  flex: 0 0 30%;
}
.footer .footer__body .footer__info .info__list {
  display: flex;
  width: 100%;
}
.footer .footer__body .footer__info .info__list ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .footer .footer__body .footer__info .info__list ul {
    flex-direction: column;
  }
}
.footer .footer__body .footer__info .info__list .info__list-item {
  display: block;
  padding: 10px;
  margin: 5px;
  color: var(--headerMenuItemTxtClr);
  font-size: calc(17px + -1 * (100vw - 320px) / 1120);
  text-align: center;
  border: 1px solid #808080;
  border-radius: 10px;
}
.footer .footer__body .footer__owner {
  flex: 0 0 100%;
  border-top: 1px solid #cccccc;
  text-align: center;
  padding-top: 10px;
}
.footer .footer__body .footer__owner p {
  padding-top: 10px;
}
.footer .footer__body .footer__owner p:last-child {
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .footer .footer__body {
    flex-direction: column;
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
  z-index: 20;
}
.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup__content {
  background-color: #fff;
  color: #000;
  padding: 30px;
  max-width: 70%;
  position: relative;
  transition: all 0.5s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);
}
.popup__content .popup__close {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: #808080;
  padding: 5px;
}
.popup__title {
  font-size: 40px;
  margin: 0 0 1em 0;
  text-align: center;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__content {
  transform: translate(0px, 0px);
  opacity: 1;
}
@media (max-width: 992px) {
  .popup .popup__content {
    max-width: 100%;
  }
  .popup .popup__body {
    padding: 30px 0;
  }
}

#popup3 {
  max-width: 100%;
}
#popup3 .popup__close {
  color: #ffffff;
}
#popup3 .popup__form {
  width: 100%;
  height: 100%;
}
#popup3 .popup__form .full-form .pagehidden {
  display: none;
}
#popup3 .popup__form .full-form .custom-select {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-family: Arial, sans-serif;
}
#popup3 .popup__form .full-form .options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#popup3 .popup__form .full-form .custom-select .option {
  cursor: pointer;
  border: 1px solid #ccc;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-bottom: 20px;
  width: 20%;
}
#popup3 .popup__form .full-form .custom-select .option .option__img {
  background-size: cover;
  display: inline-block;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 91%;
}
#popup3 .popup__form .full-form .custom-select .option .option__textvalue {
  margin: 7px 0;
  word-wrap: break-word;
}
#popup3 .popup__form .full-form .custom-select .option:hover {
  background: #f0f0f0;
}
#popup3 .popup__form .full-form .custom-select .option.selected {
  border-color: #007bff;
  background: #007bff;
  color: #fff;
}
#popup3 .popup__form .full-form .custom-select input[type=hidden] {
  display: none;
}
#popup3 .popup__form .full-form .popup__content-page-3 .input__box .input {
  border-style: solid;
  border-color: var(--black-2, #323232);
  border-width: 0px 0px 1px 0px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: center;
  color: #877575;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.32px;
  width: 100%;
  margin: 10px 0;
}
#popup3 .popup__form .full-form .popup__content-page-3 .input__box .input option {
  color: #877575;
}
#popup3 .popup__form .full-form .popup__content-page-3 .input__box .input:focus {
  border: 1px solid #000000;
}
#popup3 .popup__form .full-form .popup__content-page-3 .input__box .confirmation {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  font-size: 14px;
  padding: 15px;
}
#popup3 .popup__form .full-form .popup__content-page-3 .input__box .privacy {
  display: none;
}
#popup3 .popup__form .full-form .popup__content-page-3 .input__box .privacy:checked + .rect::after {
  transform: scale(1);
}
#popup3 .popup__form .full-form .popup__content-page-3 .input__box .checkbox-light {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
}
#popup3 .popup__form .full-form .popup__content-page-3 .input__box .rect {
  background: var(--white, #ffffff);
  border-radius: 2px;
  border-style: solid;
  border-color: var(--grey, #bbbbbb);
  border-width: 1px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
#popup3 .popup__form .full-form .popup__content-page-3 .input__box .rect.error {
  border: 2px solid red;
}
#popup3 .popup__form .full-form .popup__content-page-3 .input__box .rect::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: #7a956b;
  border-radius: 2px;
  transition: transform 0.5s ease 0s;
  transform: scale(0);
}
#popup3 .popup__form .full-form .popup__content-page-3 .input__box .privacy-policy {
  color: #000000;
  text-align: left;
  cursor: pointer;
  margin-left: -30px;
  padding-left: 30px;
  z-index: 5;
}
#popup3 .popup__form .full-form .popup__content-page-3 .input__box .privacy-policy.error {
  border: 1px solid #ff0000;
}