
:root {

    --mainBgClr: #ffffff;
    
    --returnBtnBgClr: #323232;
    --returnBtnBrdClr: #ffffff;
    --returnBtnBgClrMOB: #323232af;
    
    --headerBgColor: #514084;
    --headerMenuItemTxtClr: #0f0f0f;
    --headerMenuItemBgClr: #e3e3e380;
    --headerMenuItemBrdClr: #e3e3e3;
    --headerMenuItemBrdClrHover: #cccccc;
    --headerIconBgClr: #808080;

    --burgerIconClr: #ff000f;

    --mainTxtClr: #ffffff;

    --footerBgColor: #514084;
}